% rebase('base.html', naslov=naslov)

<div class="obroba-graf">
  <p class="besedilo2">Tu lahko analiziraš in izboljšuješ svoje strategije.
    Za analizo potrebuješ vsaj 20 tradov!</p>
  <div class="clearfix">
    <div class="box">
      <form action="/analyze" method="post">
        <label for="strategy">Strategija:</label>
          <select class="select-analiza" name="strategy">
            % for strategija in strategy:
            <option value="{{strategija}}">{{strategija}}</option>
            % end
          </select>
        <p></p>
        <label for="duration">Čas trajanja:</label>
        <input class="range" type="range" name="duration" min="1" max="100" id="duration" value="50" oninput="durationnumber.value=value">
        <input type="number" id="durationnumber" min="1" max="100" value="50" oninput="duration.value=value">
        <p></p>
        <label for="rr">Razmerje tveganja:</label>
        <input class="range" type="range" name="rr" min="1" max="15" id="rr" value="7" oninput="rrnumber.value=value">
        <input type="number" id="rrnumber" min="1" max="15" value="7" oninput="rr.value=value">
        <p></p>
        <label for="target">Tarča:</label>
        <input class="range" type="range" name="target" min="1" max="10" id="target" value="5" oninput="targetnumber.value=value">
        <input type="number" id="targetnumber" min="1" max="10" value="5" oninput="target.value=value">
        <p></p>
        <label for="tip">Tip:</label>
        <select class="select-analiza" name="tip">
          <option value="Oba">Oba</option>  
          <option value="L">Long</option>
          <option value="S">Short</option>
        </select>
        <p></p>
        <input class="gumb" type="submit" value="Potrdi">
      </form>
    </div>
    <div class="box" style="text-align: center;">
      <p>Uspešnost: <b>{{podatki[0]}}</b></p>
      <p>Povprečni zaslužek: <b>{{podatki[1]}}</b></p>
      <p>Povprečna izguba: <b>{{podatki[2]}}</b></p>
      <p>Povprečno razmerje tveganje: <b>{{podatki[3]}}</b></p>
      <p>Povprečna tarča: <b>{{podatki[4]}}</b></p>
      <p>Povprečno trajanje: <b>{{podatki[5]}}</b></p><br>
    </div>
  </div>
  <br>
  <iframe id="igraph" scrolling="no" style="border:none;" 
  seamless="seamless" src="../Graphs/pnl_3d.html"
  height="500" width="49%" style="float: right"></iframe>
  <iframe id="igraph" scrolling="no" style="border:none;" 
    seamless="seamless" src="../Graphs/win_rate_anl.html"
    height="500" width="49%" style="float: left"></iframe>
</div>