% rebase('base.html', naslov=naslov)
% from trgovanje import piskot

<div class="obroba-graf">
  <p class="besedilo2">Tu lahko analiziraš in izboljšuješ svoje strategije.
    Za analizo potrebuješ vsaj 20 tradov!</p>
  <div class="clearfix">
    <div class="box">
      <form action="/analyze" method="post">
        <label for="strategy">Strategija:</label>
          <select class="select-analiza" name="strategy">
            % for strategija in strategy:
            <option value="{{strategija}}">{{strategija}}</option>
            % end
          </select><br>
        <label for="duration">Čas trajanja:</label>
        <input class="range" type="range" name="duration" min="1" max="100" id="duration" value="50" oninput="durationnumber.value=value">
        <input type="number" id="durationnumber" min="1" max="100" value="50" oninput="duration.value=value">
        <br>
        <label for="rr">Razmerje tveganja:</label>
        <input class="range" type="range" name="rr" min="1" max="15" id="rr" value="7" oninput="rrnumber.value=value">
        <input type="number" id="rrnumber" min="1" max="15" value="7" oninput="rr.value=value">
        <br>
        <label for="target">Tarča:</label>
        <input class="range" type="range" name="target" min="1" max="10" id="target" value="5" oninput="targetnumber.value=value">
        <input type="number" id="targetnumber" min="1" max="10" value="5" oninput="target.value=value">
          <br>
        <label for="tip">Tip:</label>
        <select class="select-analiza" name="tip">
          <option value="Oba">Oba</option>  
          <option value="L">Long</option>
          <option value="S">Short</option>
        </select><br>
        <input class="gumb" type="submit" value="Potrdi">
      </form>
    </div>
    <div class="box" style="text-align: center;">
      <p>Uspešnost: {{piskot.anl_stats[0]}}%</p>
      <p>Povprečni zaslužek: {{piskot.anl_stats[1]}}$</p>
      <p>Povprečna izguba: {{piskot.anl_stats[2]}}$</p>
      <p>Povprečno razmerje tveganje: {{piskot.anl_stats[3]}}</p>
      <p>Povprečna tarča: {{piskot.anl_stats[4]}}%</p>
      <p>Povprečno trajanje: {{piskot.anl_stats[5]}}h</p><br>
    </div>
  </div>
  <br>
  <iframe id="igraph" scrolling="no" style="border:none;" 
  seamless="seamless" src="Graphs/win_rate_anl.html"
  height="500" width="100%"></iframe>
</div>