% rebase('base.html', naslov=naslov)
% from trgovanje import user_id, anl_stats

<div class="obroba-graf">
  <div>
    <p class="besedilo2">Tu lahko analiziraš in izboljšuješ svoje strategije.
      Za analizo potrebuješ vsaj 20 tradov! S prilagajanjem parametrov </p>
    <div>
      <p>Izberi strategijo:</span>
      <form action="/analyze" method="post">
        <label for="strategy">Izberi strategijo:</label>
            <select class="select" name="strategy">
                % for strat in strategy:
                <option value="{{strat[0]}}">{{strat[0]}}</option>
                % end
            </select><br>
            <label for="duration">Čas trajanja (1, 100):</label>
            <input type="range" name="duration" min="1" max="100">
            <br>
            <label for="rr">Razmerje tveganja (1, 15):</label>
            <input type="range" name="rr" min="1" max="15">
            <br>
            <label for="target">Tarča (1, 10):</label>
            <input type="range" name="target" min="1" max="100">
            <br>
            <label for="tip">Izberi tip:</label>
            <select class="select" name="tip">
              <option value="Oba">Oba</option>  
              <option value="L">Long</option>
              <option value="S">Short</option>
            </select><br>
        <input class="gumb" type="submit" value="Submit">
      </form>
    </div>
    <div>
      <p>Uspešnost: {{anl_stats[0]}}%</p><br>
      <p>Povprečni zaslužek: {{anl_stats[1]}}$</p><br>
      <p>Povprečna izguba: {{anl_stats[2]}}$</p><br>
      <p>Povprečno razmerje tveganje: {{anl_stats[3]}}</p><br>
      <p>Povprečna tarča: {{anl_stats[4]}}%</p><br>
      <p>Povprečno trajanje: {{anl_stats[5]}}h</p><br>
    </div>
  </div> <br>
  <iframe id="igraph" scrolling="no" style="border:none;" 
  seamless="seamless" src="Graphs/win_rate_anl.html"
  height="500" width="100%"></iframe><br>
</div>
<a href="/uporabnik" class="Button"><input class="gumb_nazaj" type='button' value='Nazaj' /></a>