<!DOCTYPE html>
<html lang="slo">
    <head>
        <meta charset="UTF-8">
        <title>{{naslov}}</title>
        <link rel="stylesheet" type="text/css" href="{{url('static', filename='style.css')}}" />
    </head>
    <body class="ozadje">
        <h2 class="besedilo">{{naslov}}</h2>
        <form action="/odjava" method="get">
            <input class="gumb_logout" value="Odjava" type="submit"/>
        </form>
        {{!base}}        
        <br>
        <div class="nazaj">
            <a href="/{{user_id}}/index" ><input class="gumb_nazaj" type='button' value='Nazaj' /></a>
        </div>
    </body>
    <footer class="footer">
        <p>by <a style="color: white;" href="https://github.com/sarazuzek/Pomocnik-za-trgovanje">Sara Žužek & Alan Marinić</a> </p>
    </footer>
</html>