%from trgovanje import uspesna_prijava, sporocilo

<!DOCTYPE html>
<html lang="slo">
    <head>
        <meta charset="UTF-8">
        <title>Pomočnik za trgovanje - Prijava</title>
    </head>
    <body>
        <h2>Tukaj se prijaviš v aplikacijo Trgovanje</h2>
        % if uspesna_prijava == True:
        <div><b>Prijava</b></div>
        % elif uspesna_prijava == False:
        <div class="opozorilo">{{sporocilo}}</div>  
        % end
        <form action="/prijava" method="post">
            <span>Uporabniško ime:</span> <input name="ime" type="text" /><br>
            <span>Geslo:</span> <input name="geslo" type="password" /><br>
            <input value="Prijava" type="submit" />
        </form>
        <p>
          Prvič tukaj? <a href="/registracija">Ustvari račun</a>
        </p>
    </body>
</html>

