% from trgovanje import piskot

<!DOCTYPE html>
<html lang="slo">
    <head>
        <meta charset="UTF-8">
        <title>Pomočnik za trgovanje</title>
        <link rel="stylesheet" type="text/css" href="{{url('static', filename='style.css')}}" />
    </head>
    <body class="ozadje">
        <form action="/odjava" method="get">
            <input class="gumb_logout" value="Odjava" type="submit"/>
        </form>
        <h1 class="besedilo">{{piskot.user_ime}}'s trading pomočnik</h1>
        <br>
        <div class="sredina">
            <div class="blok">
                <h2 class="naslov">NALOŽBE</h2>
                <p class="besedilo2"> <a href="/{{piskot.user_id}}/pregled_nalozb" class="link">Dodaj naložbo</a></p>
                <p class="besedilo2"> <a href="/{{piskot.user_id}}/nalozbe" class="link">Kupi/Prodaj</a></p>
                <p class="besedilo2"> <a href="/{{piskot.user_id}}/napredek" class="link">Poglej napredek</a></p>
            </div>
            <div class="blok">
                <h2 class="naslov">TRADES</h2>
                <p class="besedilo2"> <a href="/{{piskot.user_id}}/trades" class="link">Dodaj trade</a></p>
                <p class="besedilo2"> <a href="/{{piskot.user_id}}/statistika" class="link">Statistika</a></p>
                <p class="besedilo2"> <a href="/{{piskot.user_id}}/analiza" class="link">Analiza</a></p>
            </div>
        </div>
    </body>
</html>