<!DOCTYPE html>
<html lang="slo">
  <head>
    <meta charset="UTF-8">
    <title>Pomočnik za trgovanje</title>
  </head>
  <body>
    <div>
      <h2>Dodaj naložbo</h2>
      <p>SIMBOL ZAPIŠI Z VELIKIMI ČRKAMI!</p>
    </div>
    <div>
      <h3>Naložbe, ki so že na voljo za trgovanje</h3>
      <table class="table table-striped">
        <tr>
          <th>Ime</th>
          <th>Simbol</th>
        </tr>
      </table>
    </div>
    <a href="/uporabnik" class="Button"><input type='button' value='Nazaj' /></a>
  </body>
</html>