% rebase('base.html', naslov=naslov)

<div class="obroba">
  <p>Uporabnik lahko doda nove naložbe v program, tako da izbere simbol, ki je na
      voljo na spletni strani <a class="link" href="https://finance.yahoo.com">YahooFinance</a>
      in ga vpiše v spodnje okno. Takoj ko potrdi izbiro, je nova naložba
      na voljo za uporabo, če je simbol le te pravilno vnešen. Dodati pa mora tudi
      polno ime, ki ga predstavlja simbol.
  </p><br>
  <p>SIMBOL ZAPIŠI Z VELIKIMI ČRKAMI!</p><br>
  % if pravilen_simbol == True:
  <div class="uspesno">{{sporocilo}}</div>
  % elif pravilen_simbol == False:
  <div class="opozorilo">{{sporocilo}}</div>  
  % end
  <form action="/dodaj_par" method="post">
    <span>Vpiši simbol:</span> <input class="text" name="symbol" type="text" required placeholder="BTC-USD"/><br>
    <span>Vpiši ime:</span> <input class="text" name="ime" type="text" required placeholder="Bitcoin"/><br>
    <input class="gumb" value="Potrdi" type="submit" />
  </form>
  <div>
    <h3 class="naslov-tabele">Naložbe, ki so že na voljo za trgovanje</h3>
    <table class="tabela" border="1">
      <tr>
        <th class="th">Ime</th>
        <th class="th">Simbol</th>
      </tr>
      %for item in pairs:
      <tr class="tr">
        <td class="td">{{item[0]}}</td>
        <td class="td">{{item[1]}}</td>
      </tr>
      %end
    </table>
  </div>
</div>