% rebase('base.html', naslov=naslov)

<div class="obroba-graf">
  <div>
    <p class="besedilo2">Prikazana je statistika tvojih tradov. Lahko izbereš vse hkrati,
      ali pa jih ločiš po strategiji.</p>
    <div>
      <form action="/strategy" method="post">
        <label for="strategy">Izberi strategijo:</label>
            <select class="select" name="strategy">
                <option value="All">Vsi tradi</option>
                % for strat in strategy:
                <option value="{{strat}}">{{strat}}</option>
                % end
            </select><br>
        <input class="gumb" type="submit" value="Potrdi">
      </form>
    </div>
    <div>
      <div class="column">
        <p>Povprečni zaslužek: <b>{{podatki[3]}} $</b></p>
        <p>Povprečna izguba: <b>{{podatki[4]}} $</b></p>
      </div>
      <div class="column">
        <p>Največji zaslužek: <b>{{podatki[5]}} $</b></p>
        <p>Največja izguba: <b>{{podatki[6]}} $</b></p>
      </div>
      <div class="column">
        <p>Povprečno razmerje tveganje: <b>{{podatki[0]}}</b></p>
        <p>Povprečna tarča: <b>{{podatki[1]}} %</b></p>
        <p>Povprečno trajanje: <b>{{podatki[2]}} h</b></p><br>
      </div>
    </div>
  </div>
    <br>
  <iframe id="igraph" scrolling="no" style="border:none;" 
  seamless="seamless" src="../graphs/pnl_graph.html"
  height="500" width="100%"></iframe>
    <br>
  <iframe id="igraph" scrolling="no" style="border:none;" 
  seamless="seamless" src="../graphs/win_rate.html"
  height="500" width="100%"></iframe>
    <br>
  <p class="besedilo2">Celotni portfolio</p>
  <iframe id="igraph" scrolling="no" style="border:none;" 
  seamless="seamless" src="../graphs/win_by_type.html"
  height="500" width="100%"></iframe>
</div>