% rebase('base.html', naslov=naslov)
% from trgovanje import piskot

<div class="obroba">
    % if piskot.sporocilo == "Trade dodan":
    <div class="uspesno">{{piskot.sporocilo}}</div>
    % else:
    <div class="opozorilo">{{piskot.sporocilo}}</div>
    % end
    <form action="/dodaj_trade" method="post">
        <span>Simbol:</span> <input class="text" name="symbol" type="text" required placeholder="BTC-USD"/><br>
        <label for="type">Tip:</label>
            <select class="select" name="type" required>
                <option value="S">Short</option>
                <option value="L">Long</option>
            </select><br>
        <span>Strategija:</span> <input class="text" name="strategy" type="text" placeholder="WVR"/><br>
        <span>Razmerje tveganja (RR):</span> <input class="text" name="RR" type="text" placeholder="6.81"/><br>
        <span>Tarča:</span> <input class="text" name="target" type="text" placeholder="4.06"/><br>
        <span>Datum:</span> <input class="text" name="date" type="date" min="2022-01-01" required/><br>
        <span>Trajanje:</span> <input class="text" name="duration" type="text" placeholder="1h"/><br>
        <label for="TP">Delni profit (TP):</label>
            <select class="select" name="TP">
                <option value=""></option>
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
            </select><br>
            <span>Profit/Izguba (PNL):</span> <input class="text" name="PNL" type="text" required placeholder="11.2$/-11.2$"/><br>
        <input class= "gumb" value="Dodaj" type="submit"/>
    </form>
        <br>
    <p class="naslov-tabele">TABELA TVOJIH TRADE-ov</p>
    <table class="tabela-trade" border="1">
        <thead>
            <tr>
                <th class="th">
                    <form action="/{{'symbol_id'}}/uredi" method="get">
                        <a href="#" onclick="this.parentElement.submit()" class="th-link">Simbol ⏷</a>
                    </form>
                </th>
                <th class="th">
                    <form action="/{{'type'}}/uredi" method="get">
                        <a href="#" onclick="this.parentElement.submit()" class="th-link">Tip ⏷</a>
                    </form>
                </th>
                <th class="th">
                    <form action="/{{'strategy'}}/uredi" method="get">
                        <a href="#" onclick="this.parentElement.submit()" class="th-link">Strategija ⏷</a>
                    </form>
                </th>
                <th class="th">
                    <form action="/{{'rr'}}/uredi" method="get">
                        <a href="#" onclick="this.parentElement.submit()" class="th-link">RR ⏷</a>
                    </form>
                </th>
                <th class="th">
                    <form action="/{{'target'}}/uredi" method="get">
                        <a href="#" onclick="this.parentElement.submit()" class="th-link">Tarča ⏷</a>
                    </form>
                </th>
                <th class="th">
                    <form action="/{{'date'}}/uredi" method="get">
                        <a href="#" onclick="this.parentElement.submit()" class="th-link">Datum ⏷</a>
                    </form>
                </th>
                <th class="th">
                    <form action="/{{'duration'}}/uredi" method="get">
                        <a href="#" onclick="this.parentElement.submit()" class="th-link">Trajanje ⏷</a>
                    </form>
                </th>
                <th class="th">
                    <form action="/{{'tp'}}/uredi" method="get">
                        <a href="#" onclick="this.parentElement.submit()" class="th-link">TP ⏷</a>
                    </form>
                </th>
                <th class="th">
                    <form action="/{{'pnl'}}/uredi" method="get">
                        <a href="#" onclick="this.parentElement.submit()" class="th-link">PNL ⏷</a>
                    </form>
                </th>
                <th class="th">Izbriši</th>
            </tr>
        </thead>
        <tbody>
            % for item in trade:
            <tr class="tr">
                <td class="td">{{item[1]}}</td>
                <td class="td">{{item[2]}}</td>
                <td class="td">{{item[3]}}</td>
                <td class="td">{{item[4]}}</td>
                <td class="td">{{item[5]}}</td>
                <td class="td">{{item[6]}}</td>
                <td class="td">{{item[7]}}</td>
                <td class="td">{{item[8]}}</td>
                <td class="td">{{item[9]}}</td>
                <td class="td">
                    <form action="/{{item[0]}}/delete_trade" method="post">
                        <button id="pnl" value="Izbriši" onclick="myFunction()" type="submit" class="gumb_del">Izbriši</button>
                    </form>
                </td>
            </tr>
            % end
        </tbody>
    </table>
</div>

<script>
    function myFunction() {
      confirm("Izbriši trade? Ni poti nazaj!");
    }
</script>