%rebase('base.html', naslov=naslov)
%from trgovanje import sporocilo

<div class="obroba">
    % if sporocilo == "Trade dodan":
    <div class="uspesno">{{sporocilo}}</div>
    % else:
    <div class="opozorilo">{{sporocilo}}</div>
    % end
    <form action="/dodaj_trade" method="post">
        <span>Simbol:</span> <input class="text" name="symbol" type="text" required placeholder="BTC-USD"/><br>
        <label for="type">Tip:</label>
            <select class="select" name="type" required>
                <option value="S">Short</option>
                <option value="L">Long</option>
            </select><br>
        <span>Strategija:</span> <input class="text" name="strategy" type="text" placeholder="WVR"/><br>
        <span>Razmerje tveganja (RR):</span> <input class="text" name="RR" type="text" placeholder="6.81"/><br>
        <span>Tarča:</span> <input class="text" name="target" type="text" placeholder="4.06"/><br>
        <span>Datum:</span> <input class="text" name="date" type="date" min="2022-01-01" required/><br>
        <span>Trajanje:</span> <input class="text" name="duration" type="text" placeholder="1h"/><br>
        <label for="TP">Delni profit (TP):</label>
            <select class="select" name="TP">
                <option value=""></option>
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
            </select><br>
            <span>Profit/Izguba (PNL):</span> <input class="text" name="PNL" type="text" required placeholder="11.2$/-11.2$"/><br>
        <input class= "gumb" value="Dodaj" type="submit"/>
    </form> <br>

    <p class="naslov-tabele">TABELA TVOJIH TRADE-ov</p>
    <table class="tabela-trade" border="1">
    <tr>
        <th class="th">Simbol</th>
        <th class="th">Tip</th>
        <th class="th">Strategija</th>
        <th class="th">RR</th>
        <th class="th">Tarča</th>
        <th class="th">Datum</th>
        <th class="th">Trajanje</th>
        <th class="th">TP</th>
        <th class="th">PNL</th>
    </tr>
    %for (symbol_id, type, strategy, RR, target, date, duration, TP, PNL) in trade:
    <tr class="tr">
        <td class="td">{{symbol_id}}</td>
        <td class="td">{{type}}</td>
        <td class="td">{{strategy}}</td>
        <td class="td">{{RR}}</td>
        <td class="td">{{target}}</td>
        <td class="td">{{date}}</td>
        <td class="td">{{duration}}</td>
        <td class="td">{{TP}}</td>
        <td class="td">{{PNL}}</td>
    </tr>
    %end
    </table>
</div><br>

<a href="/uporabnik" class="Button"><input class= "gumb_nazaj" type='button' value='Nazaj' /></a>