% rebase('base.html', naslov=naslov)

<div class="obroba">
    % if sporocilo == "Trade dodan":
    <div class="uspesno">{{sporocilo}}</div>
    % else:
    <div class="opozorilo">{{sporocilo}}</div>
    % end
    <form action="{{url('dodaj_trade')}}" method="post">
        <span>Simbol:</span> <input class="text" name="symbol" type="text" required placeholder="BTC-USD"/><br>
        <label for="type">Tip:</label>
            <select class="select" name="type" required>
                <option value="S">Short</option>
                <option value="L">Long</option>
            </select><br>
        <span>Strategija:</span> <input class="text" name="strategy" type="text" placeholder="WVR"/><br>
        <span>Razmerje tveganja (RR):</span> <input class="text" name="RR" type="number" placeholder="6.81" step=".01"/><br>
        <span>Tarča:</span> <input class="text" name="target" type="number" placeholder="4.06" step=".01"/><br>
        <span>Datum:</span> <input class="text" name="date" type="date" min="2022-01-01" required/><br>
        <span>Trajanje:</span> <input class="text" name="duration" type="text" placeholder="1h"/><br>
        <label for="TP">Delni profit (TP):</label>
            <select class="select" name="TP">
                <option value=""></option>
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
            </select><br>
        <span>Profit/Izguba (PNL):</span> <input class="text" name="PNL" type="text" required placeholder="11.2$/-11.2$"/><br>
        <p>V PNL vpiši le številko. Decimalke loči s piko. Če je PNL v valuti USD, dodaj znak: <b>$</b></p>
        <input class= "gumb" value="Dodaj" type="submit"/>
    </form>
        <br>
    <p class="naslov-tabele">TABELA TVOJIH TRADE-ov</p>
    <table class="tabela-trade" border="1">
        <thead>
            <tr>
                <th class="th">
                    <form action="{{url('uredi', param='symbol_id')}}" method="get">
                        <a href="#" onclick="this.parentElement.submit()" class="th-link">Simbol ⏷</a>
                    </form>
                </th>
                <th class="th">
                    <form action="{{url('uredi', param='type')}}" method="get">
                        <a href="#" onclick="this.parentElement.submit()" class="th-link">Tip ⏷</a>
                    </form>
                </th>
                <th class="th">
                    <form action="{{url('uredi', param='strategy')}}" method="get">
                        <a href="#" onclick="this.parentElement.submit()" class="th-link">Strategija ⏷</a>
                    </form>
                </th>
                <th class="th">
                    <form action="{{url('uredi', param='rr')}}" method="get">
                        <a href="#" onclick="this.parentElement.submit()" class="th-link">RR ⏷</a>
                    </form>
                </th>
                <th class="th">
                    <form action="{{url('uredi', param='target')}}" method="get">
                        <a href="#" onclick="this.parentElement.submit()" class="th-link">Tarča ⏷</a>
                    </form>
                </th>
                <th class="th">
                    <form action="{{url('uredi', param='date')}}" method="get">
                        <a href="#" onclick="this.parentElement.submit()" class="th-link">Datum ⏷</a>
                    </form>
                </th>
                <th class="th">
                    <form action="{{url('uredi', param='duration')}}" method="get">
                        <a href="#" onclick="this.parentElement.submit()" class="th-link">Trajanje ⏷</a>
                    </form>
                </th>
                <th class="th">
                    <form action="{{url('uredi', param='tp')}}" method="get">
                        <a href="#" onclick="this.parentElement.submit()" class="th-link">TP ⏷</a>
                    </form>
                </th>
                <th class="th">
                    <form action="{{url('uredi', param='pnl')}}" method="get">
                        <a href="#" onclick="this.parentElement.submit()" class="th-link">PNL ⏷</a>
                    </form>
                </th>
                <th class="th">Izbriši</th>
            </tr>
        </thead>
        <tbody>
            % for item in trade:
            <tr class="tr">
                <td class="td">{{item[1]}}</td>
                <td class="td">{{item[2]}}</td>
                <td class="td">{{item[3]}}</td>
                <td class="td">{{item[4]}}</td>
                <td class="td">{{item[5]}}</td>
                <td class="td">{{item[6]}}</td>
                <td class="td">{{item[7]}}</td>
                <td class="td">{{item[8]}}</td>
                <td class="td">{{item[9]}}</td>
                <td class="td">
                    <form action="{{url('delete_trade', trade_id=item[0])}}" method="post" onsubmit="return confirm('Ali si prepričan? Ni poti nazaj!');">
                        <button id="pnl" value="Izbriši" type="submit" class="gumb_del">Izbriši</button>
                    </form>
                </td>
            </tr>
            % end
        </tbody>
    </table>
</div>