% from server import uporabnik

<!DOCTYPE html>
<html lang="slo">
    <head>
        <meta charset="UTF-8">
        <title>Pomočnik za trgovanje - {{uporabnik}}</title>
    </head>
    <body>
        <h1>{{uporabnik}}'s trading assistant</h1>
        <div>
            <h2>Assets</h2>
            <ul>
                <li> <a href="/dodaj">Add assets</a></li>
                <li> <a href="/assets">Buy/Sell</a></li>
                <li>View performance</li>
            </ul>
        </div>
        <div>
            <h2>Trades</h2>
            <ul>
                <li>Add trade</li>
                <li>View Statistics</li>
            </ul>
        </div>
        <div>
            <h2>Analysis</h2>
            <ul>
                <li>Auto-improvement</li>
                <li>Manual review</li>
            </ul>
        </div>
    </body>
</html> 
