% from trgovanje import user_ime

<!DOCTYPE html>
<html lang="slo">
    <head>
        <meta charset="UTF-8">
        <title>Pomočnik za trgovanje - {{user_ime}}</title>
    </head>
    <body>
        <h1>{{user_ime}}'s trading assistant</h1>
        <div>
            <h2>Assets</h2>
            <ul>
                <li> <a href="/dodaj">Add assets</a></li>
                <li> <a href="/assets">Buy/Sell</a></li>
                <li><a href="/performance">View performance</a></li>
            </ul>
        </div>
        <div>
            <h2>Trades</h2>
            <ul>
                <li><a href="/trades">Add trade</a></li>
                <li>View Statistics</li>
            </ul>
        </div>
        <div>
            <h2>Analysis</h2>
            <ul>
                <li>Auto-improvement</li>
                <li>Manual review</li>
                
            </ul>
        </div>
    </body>
</html> 
