% from trgovanje import user_ime


<!DOCTYPE html>
<html lang="slo">
    <head>
        <meta charset="UTF-8">
        <title>Pomočnik za trgovanje - {{user_ime}}</title>
        <link rel="stylesheet" type="text/css" href="{{url('static', filename='style.css')}}" />
    </head>
    <body class="ozadje">
        <h1 class="besedilo">{{user_ime}}'s trading pomočnik</h1>
        <br>
            <div class="blok">
                <h2 class="naslov">NALOŽBE</h2>
                <p class="besedilo2"> <a href="/dodaj" class="link">Dodaj naložbo</a></p>
                <p class="besedilo2"> <a href="/assets" class="link">Kupi/Prodaj</a></p>
                <p class="besedilo2"><a href="/performance" class="link">Poglej napredek</a></p>
            </div>
            <div class="blok">
                <h2 class="naslov">TRADES</h2>
                <p class="besedilo2"><a href="/trades" class="link">Dodaj trade</a></p>
                <p class="besedilo2">Poglej statistiko</p>
                <p></p>
            </div>
            <div class="blok">
                <h2 class="naslov">ANALIZA</h2>
                <p class="besedilo2">Predlogi izboljšave</p>
                <p class="besedilo2">Samostojna raziskava</p> 
            </div>
    </body>
</html> 
