<!DOCTYPE html>
<html lang="slo">
  <head>
      <meta charset="UTF-8">
      <title>{{naslov}}</title>
      <link rel="stylesheet" type="text/css" href="{{url('static', filename='style.css')}}" />
  </head>
  <body class="ozadje">
    <h2 class="besedilo">{{naslov}}</h2>
    <div class="obroba">
      <div><p class="naslov-tabele">Tvoji podatki</p></div>
      % if sprememba == True:
      <div class="uspesno">{{sporocilo}}</div>  
      % end
      <form action="/posodobi" method="post" autocomplete="off">
        <span>Ime:</span> <input class="text" name="ime" type="text" value="{{podatki[0]}}" required/><br>
        <span>Priimek:</span> <input class="text" name="priimek" type="text" value="{{podatki[1]}}" required/><br>
        <span>Datum rojstva:</span> <input class="text" name="datum" type="date" value="{{podatki[2]}}" required/><br>
        <span>Uporabniško ime:</span> <p>{{podatki[3]}}</p>
        <span>Novo geslo:</span> <input class="text" name="geslo" type="password"/><br>
        <input class="gumb" value="Posodobi podatke" type="submit"/>
      </form>
    </div>
    <br>
    <a href="/{{user_id}}/index" class="Button"><input class="gumb_nazaj" type='button' value='Nazaj' /></a>
  </body>
  <footer class="footer">
      <p>by <a style="color: white;" href="https://github.com/sarazuzek/Pomocnik-za-trgovanje">Sara Žužek & Alan Marinić</a> </p>
  </footer>
</html>